<div class="container">
  <%= render 'layouts/alert' %>
  <div class="row no-gutters">
    <div class="col-md-3 p-4">
      <%= render 'public/shared/user_info', end_user: @end_user %>
    </div>
    <div class="col-md-9 py-4 mt-3 mb-5">
    <h5 class="subheading2 font-weight-bold">プロフィール編集</h5>
      <div class="bg-yellow medium p-5">
        <%= form_with model: @end_user, url: end_users_path, method: :patch do |f| %>
          <div class="form-group row">
            <%= f.label :"プロフィール画像", class:"col-sm-3 col-form-label" %>
            <div class="col-sm-9 px-5">
              <%= f.file_field :profile_image, accept: "image/*", class: "custom-file-input" %>
              <label class="custom-file-label" for="inputGroupFile01" data-browse="参照">ファイル選択...</label>
            </div>
          </div>
          <div class="form-group row">
            <%= f.label :"名前", class:"col-sm-3 col-form-label" %>
            <div class="col-sm-9 p-0">
              <%= f.text_field :name, autocomplete: "name", class: "form-control medium" %>
            </div>
          </div>
          <div class="form-group row">
            <%= f.label :email , class: "col-sm-3 col-form-label" %>
            <div class="col-sm-9 p-0">
               <%= f.email_field :email, autocomplete: "email", class: "form-control medium" %>
            </div>
          </div>

          <div class="form-group row">
            <%= f.label :"性別", class: "col-sm-3 col-form-label" %>
            <div class="form-check form-check-inline">
              <%= f.radio_button :gender, EndUser.genders.key(0), id: "male", class: "form-check-input" %>
              <%= f.label :gender, EndUser.genders_i18n[:male], for: "male", class:"form-check-label" %>
            </div>
            <div class="form-check form-check-inline">
              <%= f.radio_button :gender, EndUser.genders.key(1), id: "female", class: "form-check-input" %>
              <%= f.label :gender, EndUser.genders_i18n[:female], for: "female", class:"form-check-label" %>
            </div>
            <div class="form-check form-check-inline">
              <%= f.radio_button :gender, EndUser.genders.key(2), id: "not_selected", class: "form-check-input" %>
              <%= f.label :gender, EndUser.genders_i18n[:not_selected], for: "not_selected", class:"form-check-label" %>
            </div>
          </div>

          <div class="form-group row">
            <%= f.label :"生年月日" , class: "col-sm-3 col-form-label" %>
            <div class="col-sm-9 p-0">
              <%= f.date_select :birth_day, {use_month_numbers: true, start_year: 1950, end_year: (Time.now.year - 10), default: Date.new(1990, 1, 1), date_separator: '/'}, {class: 'form-control medium', style: 'display: inline-block;width: auto;'} %>
            </div>
          </div>

          <div class="form-group row">
            <%= f.label :"好きなもの", class: "col-sm-3 col-form-label" %>
            <div class="col-sm-9 p-0">
               <%= f.text_area :favorites_introduction, class: "form-control medium" %>
            </div>
          </div>

          <div class="form-group row">
            <%= f.label :"欲しいもの", class: "col-sm-3 col-form-label" %>
            <div class="col-sm-9 p-0">
               <%= f.text_area :want_items_introduction, class: "form-control medium" %>
            </div>
          </div>

          <div class="actions row justify-content-center pt-4">
            <div class="col-md-4">
              <%= f.submit "編集内容を保存", class: "btn bg-blue text-white btn-block medium" %>
            </div>
          </div>
        <% end %>
      </div>
      <div class="text-right">
        <%= link_to "アカウントを削除する", end_user_confirm_path, class: "text-dark medium" %>
      </div>
    </div>

  </div>
</div>