<div class="container">
  <div class="row no-gutters">
    <div class="col-md-3 p-4">
      <div class="profile_image text-center">
        <%= image_tag @end_user.get_profile_image(200,200), class: "rounded-circle img-fluid" %>
      </div>
      <div class="profile p-3">
        <h5 class="font-weight-bold m-0"><%= @end_user.name %></h5>
        <p class="text-secondary border-bottom">@<%= @end_user.screen_name %></p>
        <dl class="row no-gutters justify-content-between medium m-0">
          <dt class="col-3">年齢</dt>
          <dd class="col-auto"><%= @end_user.era %></dd>
        </dl>
        <dl class="row no-gutters justify-content-between medium">
          <dt class="col-3">性別</dt>
          <dd class="col-auto"><%= @end_user.gender_i18n %></dd>
        </dl>
      </div>
    </div>

    <div class="col-md-9 py-4 mt-3 mb-5">
      <h5 class="subheading2 font-weight-bold">プロフィール編集</h5>
      <div class="bg-yellow medium p-5">
        <%= form_with model: @end_user, url: end_users_path, method: :patch do |f| %>
          <div class="form-group row">
            <%= f.label :"プロフィール画像", class:"col-sm-3 col-form-label" %>
            <div class="col-sm-9 px-5">
              <%= f.file_field :profile_image, accept: "image/*", class: "custom-file-input" %>
              <label class="custom-file-label" for="inputGroupFile01" data-browse="参照">ファイル選択...</label>
            </div>
          </div>
          <div class="form-group row">
            <%= f.label :"名前", class:"col-sm-3 col-form-label" %>
            <div class="col-sm-9 p-0">
              <%= f.text_field :name, autocomplete: "name", class: "form-control" %>
            </div>
          </div>
          <div class="form-group row">
            <%= f.label :email , class: "col-sm-3 col-form-label" %>
            <div class="col-sm-9 p-0">
               <%= f.email_field :email, autocomplete: "email", class: "form-control" %>
            </div>
          </div>
          <div class="form-group row">
            <%= f.label :password, class: "col-sm-3 col-form-label" %>
            <div class="col-sm-9 p-0">
               <%= f.password_field :password, autocomplete: "new-password", class: "form-control" %>
            </div>
          </div>

          <div class="form-group row">
            <%= f.label :"性別", class: "col-sm-3 col-form-label" %>
            <div class="form-check form-check-inline">
              <%= f.radio_button :gender, EndUser.genders.key(0), id: "male", class: "form-check-input" %>
              <%= f.label :gender, EndUser.genders_i18n[:male], for: "male", class:"form-check-label" %>
            </div>
            <div class="form-check form-check-inline">
              <%= f.radio_button :gender, EndUser.genders.key(1), id: "female", class: "form-check-input" %>
              <%= f.label :gender, EndUser.genders_i18n[:female], for: "female", class:"form-check-label" %>
            </div>
            <div class="form-check form-check-inline">
              <%= f.radio_button :gender, EndUser.genders.key(2), id: "not_selected", class: "form-check-input" %>
              <%= f.label :gender, EndUser.genders_i18n[:not_selected], for: "not_selected", class:"form-check-label" %>
            </div>
          </div>

          <div class="form-group row">
            <%= f.label :"生年月日" , class: "col-sm-3 col-form-label" %>
            <div class="col-sm-9 p-0">
              <%= f.date_select :birth_day, {use_month_numbers: true, start_year: 1950, end_year: (Time.now.year - 10), default: Date.new(1990, 1, 1), date_separator: '/'}, {class: 'form-control', style: 'display: inline-block;width: auto;'} %>
            </div>
          </div>

          <div class="form-group row">
            <%= f.label :"好きなもの", class: "col-sm-3 col-form-label" %>
            <div class="col-sm-9 p-0">
               <%= f.text_area :favorites_introduction, class: "form-control" %>
            </div>
          </div>

          <div class="form-group row">
            <%= f.label :"欲しいもの", class: "col-sm-3 col-form-label" %>
            <div class="col-sm-9 p-0">
               <%= f.text_area :want_items_introduction, class: "form-control" %>
            </div>
          </div>

          <div class="actions row justify-content-center pt-4">
            <div class="col-md-4">
              <%= f.submit "編集内容を保存", class: "btn btn-light bg-gold btn-block" %>
            </div>
            <div class="col-md-4">
              <%= link_to "退会する", end_user_confirm_path, class: "btn btn-danger btn-block" %>
            </div>
          </div>
        <% end %>
      </div>
    </div>

  </div>
</div>