<%= image_tag @end_user.get_profile_image(200,200) %><br>
<%= @end_user.name %> :: @<%= @end_user.screen_name %><br>
<%= @end_user.era %><%= @end_user.gender_i18n %>
<%= link_to "編集する", end_user_edit_path, class: "btn btn-danger btn-block" %>
<hr>

<%= @categorys %>
  <% @categorys.each do |category| %>
    <%= category %>
    <%= @count = Review.where(category: category ).count %>件
  <% end %>



<div style="position:relative;width:250px;height:250px;">
  <canvas id="myChart"></canvas>
</div>

<script src="https://cdn.jsdelivr.net/npm/chart.js"></script>

<script>
  const ctx = document.getElementById('myChart');

  new Chart(ctx, {
    type: 'pie',
    data: {
      labels: ['Red', 'Blue', 'Yellow', 'Green', 'Purple', 'Orange'],
      datasets: [{
        data: [
            <% @categorys.each do |category| %>
              <%= Review.where(category: category ).count.to_i %>,
            <% end %>
          ],
        borderWidth: 1
      }]
    },
    options: {
      scales: {
        y: {
          beginAtZero: true
        }
      }
    }
  });
</script>

<hr>
<h2>
  <%= @end_user.name %>さんの欲しい物
  <%= link_to end_user_favorites_path(@end_user.screen_name) do %>
    一覧
  <% end %>
</h2>
<%= @end_user.favorites_introduction %>
<% @favorites.each do |favorite| %>
  <%= image_tag (favorite.image) %>
  <%= favorite.name %>
  <%= favorite.price %><br>
  <hr>
<% end %>

<h2>
  <%= @end_user.name %>さんの好きな物
  <%= link_to end_user_want_items_path(@end_user.screen_name) do %>
    一覧
  <% end %>
</h2>
<%= @end_user.want_items_introduction %>
<% @want_items.each do |want_item| %>
  <%= image_tag (want_item.image) %>
  <%= want_item.name %>
  <%= want_item.price %>
  
  <%= link_to want_items_path(id: want_item.id), method: :delete do %>
    削除
  <% end %>
  <hr>
<% end %>

<h2>
  <%= @end_user.name %>さんのレビュー
  <%= link_to end_user_reviews_path(@end_user.screen_name) do %>
    一覧
  <% end %>
</h2>
<% @reviews.first(1).each do |review| %>
  <%= image_tag (review.image) %>
  <%= review.name %>
  <%= review.price %>
  <%= review.body %>
  <%= review.created_at.strftime('%Y/%m/%d') %>
  <hr>
<% end %>