<div class="profile_image text-center">
  <% if params[:screen_name] == nil %>
    <%= link_to end_user_path(current_end_user.screen_name), class: "text-dark" do %>
      <%= image_tag end_user.get_profile_image(200,200), size: '200x200', class: "rounded-circle" %>
    <% end %>
  <% else %>
    <%= link_to end_user_path(params[:screen_name]), class: "text-dark" do %>
      <%= image_tag end_user.get_profile_image(200,200), class: "rounded-circle img-fluid" %>
    <% end %>
  <% end %>
</div>
<div class="profile p-3">
  <h5 class="font-weight-bold m-0"><%= end_user.name %></h5>
  <p class="text-secondary border-bottom">@<%= end_user.screen_name %></p>
  <dl class="row no-gutters justify-content-between medium m-0">
    <dt class="col-3">年齢</dt>
    <dd class="col-auto"><%= end_user.era %></dd>
  </dl>
  <dl class="row no-gutters justify-content-between medium">
    <dt class="col-3">性別</dt>
    <dd class="col-auto"><%= end_user.gender_i18n %></dd>
  </dl>
  <% if end_user_signed_in? && current_end_user.screen_name == params[:screen_name] %>
    <%= link_to end_user_edit_path, class: "btn btn-outline-secondary btn-block" do %>
      <i class="fas fa-user-cog"></i>
    <% end %>
  <% end %>
</div>