<div class="container">
  <div class="response-visual mt-3 mb-5">

    <div class="response_title row justify-content-center pt-5">
      <div class="col-lg-1 response_bubble">
      </div>
      <div class="col-lg-6 d-flex justify-content-center align-items-end text-center p-0">
        <div class="response_title_image">
          <%= image_tag 'response_title_left.png', :width => '45', class:"img-fluid" %>
        </div>
        <div class="response-heading h2">
          貰って嬉しかったものアンケート
        </div>
        <div class="response_title_image">
          <%= image_tag 'response_title_right.png', :width => '45', class:"img-fluid" %>
        </div>
      </div>
      <div class="col-lg-1">
      </div>
    </div>

    <div class="mx-auto my-3" style="position:relative; width:750px; height:300px;">
      <canvas id="responsesChart"></canvas>
    </div>
    <script src="https://cdn.jsdelivr.net/npm/chart.js"></script>
    <script>
      const ctx = document.getElementById('responsesChart');
      new Chart(ctx, {
        type: 'bar',
        data: {
          labels:[
            <% @responses.each do |response| %>
                "<%= response.present_genre_i18n %>",
              <% end %>
              ],
          datasets: [{
            data: [
              <% @responses.each do |response| %>
                <%= Response.where(present_genre: response.present_genre ).count.to_i %>,
              <% end %>
              ],
              barPercentgifted_event: 0.7,
              backgroundColor: "#17a2b8"
          }]
        },
        options: {
            indexAxis: 'y',
            maintainAspectRatio: false,
            plugins: {
              legend: false
            },
            scales: {
                  x: {
                      grid: {
                          display: false,
                      },
                      ticks: {
                          display: false
                      },
                      border: {
                          display: false
                      }
                  }
              }
        }
      });
    </script>
    <div class="row justify-content-center mb-5">
      <%= link_to "アンケートに参加する(全５問)", new_response_path, class: "col-lg-6 col-12 btn btn-danger btn-lg font-weight-bold px-5" %>
    </div>
  </div>



<h4 class="bg-blue rounded-pill font-weight-bold text-white shadow my-4 py-2 px-4"><i class="fa-solid fa-magnifying-glass"></i> アンケート結果検索</h4>
  <div class="row mb-5 mx-1 pb-5">
    <div class="col-md-3 ">
      <%= search_form_for @q, url: responses_path do |f| %>
        <div class="form-group medium">
          <h6 class="font-weight-bold border-bottom border-secondary">性別</h6>
          <div class="form-check form-check-inline">
            <%= f.check_box :gender_eq_any, { multiple: true, include_hidden: false, class: 'form-check-input', id: 'gender-check1' }, 0, '' %>
            <%= f.label Response.genders_i18n[:male], class:'form-check-label', for: 'gender-check1' %>
          </div>
          <div class="form-check form-check-inline">
            <%= f.check_box :gender_eq_any, { multiple: true, include_hidden: false, class: 'form-check-input', id: 'gender-check2' }, 1, '' %>
            <%= f.label Response.genders_i18n[:female], class:'form-check-label', for: 'gender-check2' %>
          </div>
          <div class="form-check form-check-inline">
            <%= f.check_box :gender_eq_any, { multiple: true, include_hidden: false, class: 'form-check-input', id: 'gender-check3' }, 2, '' %>
            <%= f.label Response.genders_i18n[:not_selected], class:'form-check-label', for: 'gender-check3' %>
          </div>
        </div>
        <div class="form-group medium">
          <h6 class="font-weight-bold border-bottom border-secondary">年齢</h6>
          <div class="form-check form-check-inline">
            <%= f.check_box :age_eq_any, { multiple: true, include_hidden: false, class: 'form-check-input', id: 'age-check1' }, 0, '' %>
            <%= f.label Response.ages_i18n[:teens], class:'form-check-label', for: 'age-check1' %>
          </div>
          <div class="form-check form-check-inline">
            <%= f.check_box :age_eq_any, { multiple: true, include_hidden: false, class: 'form-check-input', id: 'age-check2' }, 1, '' %>
            <%= f.label Response.ages_i18n[:twenties], class:'form-check-label', for: 'age-check2' %>
          </div>
          <div class="form-check form-check-inline">
            <%= f.check_box :age_eq_any, { multiple: true, include_hidden: false, class: 'form-check-input', id: 'age-check3' }, 2, '' %>
            <%= f.label Response.ages_i18n[:thirties], class:'form-check-label', for: 'age-check3' %>
          </div>
          <div class="form-check form-check-inline">
            <%= f.check_box :age_eq_any, { multiple: true, include_hidden: false, class: 'form-check-input', id: 'age-check4' }, 3, '' %>
            <%= f.label Response.ages_i18n[:forties], class:'form-check-label', for: 'age-check4' %>
          </div>
          <div class="form-check form-check-inline">
            <%= f.check_box :age_eq_any, { multiple: true, include_hidden: false, class: 'form-check-input', id: 'age-check5' }, 4, '' %>
            <%= f.label Response.ages_i18n[:fifties], class:'form-check-label', for: 'age-check5' %>
          </div>
          <div class="form-check form-check-inline">
            <%= f.check_box :age_eq_any, { multiple: true, include_hidden: false, class: 'form-check-input', id: 'age-check6' }, 5, '' %>
            <%= f.label Response.ages_i18n[:sixties], class:'form-check-label', for: 'age-check6' %>
          </div>
          <div class="form-check form-check-inline">
            <%= f.check_box :age_eq_any, { multiple: true, include_hidden: false, class: 'form-check-input', id: 'age-check7' }, 6, '' %>
            <%= f.label Response.ages_i18n[:seventies], class:'form-check-label', for: 'age-check7' %>
          </div>
        </div>
        <div class="form-group medium">
          <h6 class="font-weight-bold border-bottom border-secondary">プレゼント主</h6>
          <div class="form-check form-check-inline">
            <%= f.check_box :giver_eq_any, { multiple: true, include_hidden: false, class: 'form-check-input', id: 'giver-check1' }, 1, '' %>
            <%= f.label Response.givers_i18n[:friend], class:'form-check-label', for: 'giver-check1' %>
          </div>
          <div class="form-check form-check-inline">
            <%= f.check_box :giver_eq_any, { multiple: true, include_hidden: false, class: 'form-check-input', id: 'giver-check2' }, 2, '' %>
            <%= f.label Response.givers_i18n[:lover], class:'form-check-label', for: 'giver-check2' %>
          </div>
          <br>
          <div class="form-check form-check-inline">
            <%= f.check_box :giver_eq_any, { multiple: true, include_hidden: false, class: 'form-check-input', id: 'giver-check3' }, 3, '' %>
            <%= f.label Response.givers_i18n[:parents], class:'form-check-label', for: 'giver-check3' %>
          </div>
          <div class="form-check form-check-inline">
            <%= f.check_box :giver_eq_any, { multiple: true, include_hidden: false, class: 'form-check-input', id: 'giver-check4' }, 4, '' %>
            <%= f.label Response.givers_i18n[:my_child], class:'form-check-label', for: 'giver-check4' %>
          </div>
          <div class="form-check form-check-inline">
            <%= f.check_box :giver_eq_any, { multiple: true, include_hidden: false, class: 'form-check-input', id: 'giver-check5' }, 5, '' %>
            <%= f.label Response.givers_i18n[:sibling], class:'form-check-label', for: 'giver-check5' %>
          </div>
          <div class="form-check form-check-inline">
            <%= f.check_box :giver_eq_any, { multiple: true, include_hidden: false, class: 'form-check-input', id: 'giver-check6' }, 6, '' %>
            <%= f.label Response.givers_i18n[:relatives], class:'form-check-label', for: 'giver-check6' %>
          </div>
          <br>
          <div class="form-check form-check-inline">
            <%= f.check_box :giver_eq_any, { multiple: true, include_hidden: false, class: 'form-check-input', id: 'giver-check7' }, 7, '' %>
            <%= f.label Response.givers_i18n[:boss], class:'form-check-label', for: 'giver-check7' %>
          </div>
          <div class="form-check form-check-inline">
            <%= f.check_box :giver_eq_any, { multiple: true, include_hidden: false, class: 'form-check-input', id: 'giver-check8' }, 8, '' %>
            <%= f.label Response.givers_i18n[:subordinate], class:'form-check-label', for: 'giver-check8' %>
          </div>
          <div class="form-check form-check-inline">
            <%= f.check_box :giver_eq_any, { multiple: true, include_hidden: false, class: 'form-check-input', id: 'giver-check9' }, 9, '' %>
            <%= f.label Response.givers_i18n[:coworker], class:'form-check-label', for: 'giver-check9' %>
          </div>
          <div class="form-check form-check-inline">
            <%= f.check_box :giver_eq_any, { multiple: true, include_hidden: false, class: 'form-check-input', id: 'giver-check10' }, 10, '' %>
            <%= f.label Response.givers_i18n[:business_people], class:'form-check-label', for: 'giver-check10' %>
          </div>
          <div class="form-check form-check-inline">
            <%= f.check_box :giver_eq_any, { multiple: true, include_hidden: false, class: 'form-check-input', id: 'giver-check11' }, 11, '' %>
            <%= f.label Response.givers_i18n[:acquaintance], class:'form-check-label', for: 'giver-check11' %>
          </div>
          <br>
          <div class="form-check form-check-inline">
            <%= f.check_box :giver_eq_any, { multiple: true, include_hidden: false, class: 'form-check-input', id: 'giver-check12' }, 12, '' %>
            <%= f.label Response.givers_i18n[:other_people], class:'form-check-label', for: 'giver-check12' %>
          </div>
        </div>
        <div class="form-group medium">
          <h6 class="font-weight-bold border-bottom border-secondary">プレゼントシーン</h6>
          <div class="form-check form-check-inline">
            <%= f.check_box :gifted_event_eq_any, { multiple: true, include_hidden: false, class: 'form-check-input', id: 'gifted_event-check1' }, 1, '' %>
            <%= f.label Response.gifted_events_i18n[:birthday], class:'form-check-label', for: 'gifted_event-check1' %>
          </div>
          <div class="form-check form-check-inline">
            <%= f.check_box :gifted_event_eq_any, { multiple: true, include_hidden: false, class: 'form-check-input', id: 'gifted_event-check2' }, 2, '' %>
            <%= f.label Response.gifted_events_i18n[:christmas], class:'form-check-label', for: 'gifted_event-check2' %>
          </div>
          <br>
          <div class="form-check form-check-inline">
            <%= f.check_box :gifted_event_eq_any, { multiple: true, include_hidden: false, class: 'form-check-input', id: 'gifted_event-check3' }, 3, '' %>
            <%= f.label Response.gifted_events_i18n[:father_day], class:'form-check-label', for: 'gifted_event-check3' %>
          </div>
          <div class="form-check form-check-inline">
            <%= f.check_box :gifted_event_eq_any, { multiple: true, include_hidden: false, class: 'form-check-input', id: 'gifted_event-check4' }, 4, '' %>
            <%= f.label Response.gifted_events_i18n[:mother_day], class:'form-check-label', for: 'gifted_event-check4' %>
          </div>
          <div class="form-check form-check-inline">
            <%= f.check_box :gifted_event_eq_any, { multiple: true, include_hidden: false, class: 'form-check-input', id: 'gifted_event-check5' }, 5, '' %>
            <%= f.label Response.gifted_events_i18n[:anniversary], class:'form-check-label', for: 'gifted_event-check5' %>
          </div>
          <br>
          <div class="form-check form-check-inline">
            <%= f.check_box :gifted_event_eq_any, { multiple: true, include_hidden: false, class: 'form-check-input', id: 'gifted_event-check6' }, 6, '' %>
            <%= f.label Response.gifted_events_i18n[:valentine], class:'form-check-label', for: 'gifted_event-check6' %>
          </div>
          <div class="form-check form-check-inline">
            <%= f.check_box :gifted_event_eq_any, { multiple: true, include_hidden: false, class: 'form-check-input', id: 'gifted_event-check7' }, 7, '' %>
            <%= f.label Response.gifted_events_i18n[:white_day], class:'form-check-label', for: 'gifted_event-check7' %>
          </div>
          <br>
          <div class="form-check form-check-inline">
            <%= f.check_box :gifted_event_eq_any, { multiple: true, include_hidden: false, class: 'form-check-input', id: 'gifted_event-check8' }, 8, '' %>
            <%= f.label Response.gifted_events_i18n[:birthday_20th], class:'form-check-label', for: 'gifted_event-check8' %>
          </div>
          <div class="form-check form-check-inline">
            <%= f.check_box :gifted_event_eq_any, { multiple: true, include_hidden: false, class: 'form-check-input', id: 'gifted_event-check9' }, 9, '' %>
            <%= f.label Response.gifted_events_i18n[:celebrate_job], class:'form-check-label', for: 'gifted_event-check9' %>
          </div>
          <div class="form-check form-check-inline">
            <%= f.check_box :gifted_event_eq_any, { multiple: true, include_hidden: false, class: 'form-check-input', id: 'gifted_event-check10' }, 10, '' %>
            <%= f.label Response.gifted_events_i18n[:wedding_gift], class:'form-check-label', for: 'gifted_event-check10' %>
          </div>
          <div class="form-check form-check-inline">
            <%= f.check_box :gifted_event_eq_any, { multiple: true, include_hidden: false, class: 'form-check-input', id: 'gifted_event-check11' }, 11, '' %>
            <%= f.label Response.gifted_events_i18n[:baby_gift], class:'form-check-label', for: 'gifted_event-check11' %>
          </div>
          <div class="form-check form-check-inline">
            <%= f.check_box :gifted_event_eq_any, { multiple: true, include_hidden: false, class: 'form-check-input', id: 'gifted_event-check12' }, 12, '' %>
            <%= f.label Response.gifted_events_i18n[:housewarming], class:'form-check-label', for: 'gifted_event-check12' %>
          </div>
          <div class="form-check form-check-inline">
            <%= f.check_box :gifted_event_eq_any, { multiple: true, include_hidden: false, class: 'form-check-input', id: 'gifted_event-check13' }, 13, '' %>
            <%= f.label Response.gifted_events_i18n[:birthday_60th], class:'form-check-label', for: 'gifted_event-check13' %>
          </div>
          <br>
          <div class="form-check form-check-inline">
            <%= f.check_box :gifted_event_eq_any, { multiple: true, include_hidden: false, class: 'form-check-input', id: 'gifted_event-check14' }, 14, '' %>
            <%= f.label Response.gifted_events_i18n[:other_day], class:'form-check-label', for: 'gifted_event-check14' %>
          </div>
        </div>
        <%= f.submit '検索する', class: "btn btn-secondary btn-sm btn-block" %>
      <% end %>

    </div>
    <div class="col-md-9 bg-yellow rounded-lg py-4">
      <h5 class="subheading font-weight-bold">貰って嬉しかったものランキング</h5>
      <div class="p-4" style="position:relative; width:100%; min-height:500px;">
        <canvas id="responsesSearchChart"></canvas>
      </div>
      <script>
        const ctx1 = document.getElementById('responsesSearchChart');
        new Chart(ctx1, {
          type: 'bar',
          data: {
            labels:[
                <% @search_responses.each do |search_response| %>
                    "<%= search_response.present_genre_i18n %>",
                <% end %>
                ],
            datasets: [{
              data: [
                <% @search_responses.each do |search_response| %>
                    <%= @responses_count.where(present_genre: search_response.present_genre ).count.to_i %>,
                <% end %>
                ],
                barPercentgifted_event: 0.7,
                backgroundColor: "#17a2b8"
            }]
          },
          options: {
              indexAxis: 'y',
              maintainAspectRatio: false,
              plugins: {
                legend: false
              },
              scales: {
                    x: {
                        grid: {
                            display: false,
                        },
                        ticks: {
                            display: false
                        },
                        border: {
                            display: false
                        }
                    }
                }
          }
        });
      </script>
    </div>

  </div>
</div>

