<h2>新着レビュー</h2>
<%= link_to "全て確認済みにする", reviews_confirmed_all_path, method: :patch, class: "btn btn-danger btn-block", style: "background-color:green" %>
<% @reviews.each do |review| %>
  <div style="background-color:#cccccc">
    <%= review.created_at.strftime('%Y/%m/%d') %><br>
    ユーザー名：<%= image_tag review.end_user.get_profile_image(30,30) %>
    <%= review.end_user.name %>[@<%= review.end_user.screen_name %>]<br>
    レビュー商品名：<%= review.name %>
  </div>
  <%= review.body %>
  <br>
  <%= review.is_checked %> || <%= review.is_disclose %>
  <br>
  <%= link_to "確認する", review_confirmed_path(id: review.id), method: :patch, class: "btn btn-danger btn-block" %>
  <%= link_to "非公開にする", review_closed_path(id: review.id), method: :patch, class: "btn btn-danger btn-block" %>
  <hr>
<% end %>
