<div style="position:relative; width:950px; height:500px;">
    <canvas id="responsesChart"></canvas>
  </div>
  <script src="https://cdn.jsdelivr.net/npm/chart.js"></script>
  <script>
    const ctx = document.getElementById('responsesChart');

    new Chart(ctx, {
      type: 'bar',
      data: {
        labels:[
          <% @chart_responses.each do |chart_response| %>
              "<%= chart_response.present_genre_i18n %>",
            <% end %>
            ],
        datasets: [{
          data: [
            <% @chart_responses.each do |chart_response| %>
              <%= Response.where(present_genre: chart_response.present_genre ).count.to_i %>,
            <% end %>
            ],
            barPercentgifted_event: 0.7
        }]
      },
      options: {
          indexAxis: 'y',
          maintainAspectRatio: false,
          plugins: {
            legend: false
          },
          scales: {
                x: {
                    grid: {
                        display: false,
                    },
                    ticks: {
                        display: false
                    },
                    border: {
                        display: false
                    }
                }
            }
      }
    });
  </script>

  <hr>
<% if params[:internet_protocol_address] != nil %>
   <% @same_end_user_responses.each do |same_end_user_response| %>
      <%= same_end_user_response.created_at.strftime('%Y/%m/%d') %> ||
        <%= same_end_user_response.age_i18n %> || <%= same_end_user_response.gender_i18n %> || <%= same_end_user_response.present_genre_i18n %> || <%= same_end_user_response.giver_i18n %> || <%= same_end_user_response.gifted_event_i18n %>
      <%= link_to admin_responses_path(internet_protocol_address: same_end_user_response.internet_protocol_address) do %>
        <%= same_end_user_response.internet_protocol_address %>
      <% end %>
    <hr>
      <% end %>
<% else %>
  <% @responses.each do |response| %>
    <div style="background-color:#cccccc">
      <%= response.created_at.strftime('%Y/%m/%d') %> ||
        <%= response.age_i18n %> || <%= response.gender_i18n %> || <%= response.present_genre_i18n %> || <%= response.giver_i18n %> || <%= response.gifted_event_i18n %>
      <%= link_to admin_responses_path(internet_protocol_address: response.internet_protocol_address) do %>
        <%= response.internet_protocol_address %>
      <% end %>
      <%= link_to admin_response_path(id: response.id), method: :delete, class: "h5 text-dark text-decoration-none", "data-confirm" => "本当に消しますか？" do %>
            <i class="fa-solid fa-trash-can"></i>削除
          <% end %>
    </div>
    <hr>
  <% end %>
<% end %>