<div class="bg-yellow">
  <div class="container p-5">
    <h4 class="subheading2">レビュー投稿確認</h4>

    <div class="review border border-dark shadow bg-white p-5">
      <div class="row">
        <div class="col-md-3">
          <%= image_tag (@review.image), width: '100%', style: "max-height: 240px;" %>
        </div>
        <div class="col-md-9">
          <p class="text-muted small mb-2">
            <% @current_genre.parents.each do |parent| %>
              <span><%= parent.name %></span>
              <span class="px-2"><i class="fa-solid fa-chevron-right"></i></span>
            <% end %>
            <%= @current_genre.name %>
          </p>
          <h5><%= @review.name %></h5>
          <h4 class="m-0">￥<%= number_with_delimiter(@review.price) %></h4>
        </div>
      </div>
      <% if @review.getting_method == "self_purchase" %>
        <div class="form-body border-top mt-4 pt-3">
          <div class="row mx-3 pt-2">
            <p class="col-sm-3 font-weight-bold mb-1">入手方法</p>
            <p class="col-sm-9 mb-1 pl-sm-0 px-3"><%= @review.getting_method_i18n %></p>
          </div>
          <hr>
          <div class="row mx-3 pt-2">
            <p class="col-sm-3 font-weight-bold mb-1">ニックネーム</p>
            <% if @review.is_anonymous == "anonymous" %>
               <p class="col-sm-9 mb-1 pl-sm-0 px-3">匿名で投稿する</p>
            <% else %>
               <p class="col-sm-9 mb-1 pl-sm-0 px-3"><%= current_end_user.name %> で投稿する</p>
            <% end %>
          </div>
          <hr>
          <div class="form-group row mx-3">
            <p class="col-sm-3 font-weight-bold mb-1">評価</p>
            <div id="star"></div>
            <script>
              $('#star').empty();
              var elem = document.getElementById('star');
              var opt = {
                starOn: "<%= asset_path('star-on.png') %>",
                starOff: "<%= asset_path('star-off.png') %>",
                starHalf: "<%= asset_path('star-half.png') %>",
                score: <%= @review.evaluation %>,
                readOnly: true,
                half: true
                };
              raty(elem,opt);
            </script>
          </div>
          <hr>
          <div class="row mx-3 pt-2">
            <p class="col-sm-3 font-weight-bold mb-1">レビュー本文</p>
            <p class="col-sm-9 mb-1 pl-sm-0 px-3"><%= @review.body %></p>
          </div>
          <%= form_with model: @review, url: reviews_path, method: :post do |f| %>
            <%= f.hidden_field :code %>
            <%= f.hidden_field :name %>
            <%= f.hidden_field :url %>
            <%= f.hidden_field :category %>
            <%= f.hidden_field :price %>
            <%= f.hidden_field :image %>
            <%= f.hidden_field :getting_method %>
            <%= f.hidden_field :evaluation %>
            <%= f.hidden_field :body %>
            <%= f.hidden_field :is_anonymous %>
            <%= f.hidden_field :is_displayed, :value => "display" %>
            <%= f.hidden_field :giver, :value => "no_giver" %>
            <%= f.hidden_field :gifted_event, :value => "no_date" %>
            <div class="actions text-center mt-5">
              <%= f.submit '投稿する', class:"btn bg-blue text-white btn-light w-50" %>
            </div>
          <% end %>
        </div>
      <% else %>
        <div class="form-body border-top mt-4 pt-3">
          <div class="row mx-3 pt-2">
            <p class="col-sm-4 font-weight-bold mb-1">入手方法</p>
            <p class="col-sm-8 mb-1 pl-sm-0 px-3"><%= @review.getting_method_i18n %></p>
          </div>
          <hr>
          <div class="row mx-3 pt-2">
            <p class="col-sm-4 font-weight-bold mb-1">プレゼント主</p>
            <p class="col-sm-8 mb-1 pl-sm-0 px-3"><%= @review.giver_i18n %></p>
          </div>
          <hr>
          <div class="row mx-3 pt-2">
            <p class="col-sm-4 font-weight-bold mb-1">プレゼントシーン</p>
            <p class="col-sm-8 mb-1 pl-sm-0 px-3"><%= @review.gifted_event_i18n %></p>
          </div>
          <hr>
          <div class="row mx-3 pt-2">
            <p class="col-sm-4 font-weight-bold mb-1">マイページにレビューを表示</p>
            <p class="col-sm-8 mb-1 pl-sm-0 px-3"><%= @review.is_displayed_i18n %></p>
          </div>
          <hr>
          <div class="row mx-3 pt-2">
            <p class="col-sm-4 font-weight-bold mb-1">ニックネーム</p>
            <% if @review.is_anonymous == "anonymous" %>
               <p class="col-sm-8 mb-1 pl-sm-0 px-3">匿名で投稿する</p>
            <% else %>
               <p class="col-sm-8 mb-1 pl-sm-0 px-3"><%= current_end_user.name %> で投稿する</p>
            <% end %>
          </div>
          <hr>
          <div class="form-group row mx-3">
            <p class="col-sm-4 font-weight-bold mb-1">評価</p>
            <div id="star"></div>
            <script>
              $('#star').empty();
              var elem = document.getElementById('star');
              var opt = {
                starOn: "<%= asset_path('star-on.png') %>",
                starOff: "<%= asset_path('star-off.png') %>",
                starHalf: "<%= asset_path('star-half.png') %>",
                score: <%= @review.evaluation %>,
                readOnly: true,
                half: true
                };
              raty(elem,opt);
            </script>
          </div>
          <hr>
          <div class="row mx-3 pt-2">
            <p class="col-sm-4 font-weight-bold mb-1">レビュー本文</p>
            <p class="col-sm-8 mb-1 pl-sm-0 px-3"><%= @review.body %></p>
          </div>
          <%= form_with model: @review, url: reviews_path, method: :post do |f| %>
            <%= f.hidden_field :code %>
            <%= f.hidden_field :name %>
            <%= f.hidden_field :url %>
            <%= f.hidden_field :genre %>
            <%= f.hidden_field :category %>
            <%= f.hidden_field :price %>
            <%= f.hidden_field :image %>
            <%= f.hidden_field :getting_method %>
            <%= f.hidden_field :evaluation %>
            <%= f.hidden_field :body %>
            <%= f.hidden_field :is_displayed %>
            <%= f.hidden_field :is_anonymous %>
            <%= f.hidden_field :giver %>
            <%= f.hidden_field :gifted_event %>
            <div class="actions text-center mt-5">
              <%= f.submit '投稿する', class:"btn bg-blue text-white btn-light w-50" %>
            </div>
          <% end %>
        </div>
      <% end %>
    </div>
  </div>
</div>