<p><%= image_tag (@review.image), size: '200x200' %></p>
<p><%= @review.name %></p>

<%= form_with model: @review, url: reviews_path, method: :post do |f| %>

      <div class="form-group row">
        <%= f.label :"入手方法", class: "col-md-3 col-form-label" %>
          <%= f.radio_button :getting_method, Review.getting_methods.key(0), id: "item_on_sale" %>
          <%= f.label :getting_method, Review.getting_methods_i18n[:self_purchase], for: "item_on_sale"  %>
          <%= f.radio_button :getting_method, Review.getting_methods.key(1), id: "item_stop_sell"  %>
          <%= f.label :getting_method, Review.getting_methods_i18n[:gift], for: "item_stop_sell" %>

      </div>


      <div class="form-group row">
        <%= f.label :"商品の評価", class: "col-form-label", for: "item_name" %>

      </div>

      <div class="form-group row">
        <%= f.label :"レビュー本文", class: "col-form-label", for: "item_introduction" %>
        <div class="col-md-8">
          <%= f.text_area :body, class: "form-control", id: "item_introduction", rows:"6", placeholder:"ここに説明文を記述します" %>
        </div>
      </div>

      <div class="form-group row">
        <%= f.label :"マイページに表示", class: "col-sm-3 col-form-label" %>
          <%= f.radio_button :is_displayed, :display, id: "customer_membership" %>
          <%= f.label :"する", for: "customer_membership" %>
          <%= f.radio_button :is_displayed, :non_display, id: "customer_unsubscribe" %>
          <%= f.label :"しない", for: "customer_unsubscribe" %>

      </div>

      <div class="form-group row">
        <%= f.label :"ニックネーム", class: "col-sm-3 col-form-label" %>
          <%= f.radio_button :is_anonymous, :onymous, id: "customer_membership" %>
          <%= f.label :"#{current_end_user.name}を使用", for: "customer_membership" %>
          <%= f.radio_button :is_anonymous, :anonymous, id: "customer_unsubscribe" %>
          <%= f.label :"匿名で投稿する", for: "customer_unsubscribe" %>

      </div>

      <div class="form-group row">
        <%= f.label :"プレゼント主", class: "col-md-3 col-form-label" %>
          <%= f.radio_button :giver, Review.givers.key(0), id: "item_on_sale" %>
          <%= f.label :giver, Review.givers_i18n[:friend], for: "item_on_sale"  %>
          <%= f.radio_button :giver, Review.givers.key(1), id: "item_on_sale" %>
          <%= f.label :giver, Review.givers_i18n[:lover], for: "item_on_sale"  %>
          <%= f.radio_button :giver, Review.givers.key(2), id: "item_on_sale" %>
          <%= f.label :giver, Review.givers_i18n[:parents], for: "item_on_sale"  %>
          <%= f.radio_button :giver, Review.givers.key(3), id: "item_on_sale" %>
          <%= f.label :giver, Review.givers_i18n[:my_child], for: "item_on_sale"  %>
          <%= f.radio_button :giver, Review.givers.key(4), id: "item_on_sale" %>
          <%= f.label :giver, Review.givers_i18n[:sibling], for: "item_on_sale"  %>
          <%= f.radio_button :giver, Review.givers.key(5), id: "item_on_sale" %>
          <%= f.label :giver, Review.givers_i18n[:relatives], for: "item_on_sale"  %>
          <%= f.radio_button :giver, Review.givers.key(6), id: "item_on_sale" %>
          <%= f.label :giver, Review.givers_i18n[:boss], for: "item_on_sale"  %>
          <%= f.radio_button :giver, Review.givers.key(7), id: "item_on_sale" %>
          <%= f.label :giver, Review.givers_i18n[:subordinate], for: "item_on_sale"  %>
          <%= f.radio_button :giver, Review.givers.key(8), id: "item_on_sale" %>
          <%= f.label :giver, Review.givers_i18n[:coworker], for: "item_on_sale"  %>
          <%= f.radio_button :giver, Review.givers.key(9), id: "item_on_sale" %>
          <%= f.label :giver, Review.givers_i18n[:business_people], for: "item_on_sale"  %>
          <%= f.radio_button :giver, Review.givers.key(10), id: "item_on_sale" %>
          <%= f.label :giver, Review.givers_i18n[:acquaintance], for: "item_on_sale"  %>
          <%= f.radio_button :giver, Review.givers.key(11), id: "item_on_sale" %>
          <%= f.label :giver, Review.givers_i18n[:other_people], for: "item_on_sale"  %>
        </div>
      </div>

       <div class="form-group row">
        <%= f.label :"イベント", class: "col-md-3 col-form-label" %>
          <%= f.radio_button :gifted_event, Review.gifted_events.key(0), id: "item_on_sale" %>
          <%= f.label :gifted_event, Review.gifted_events_i18n[:birthday], for: "item_on_sale"  %>
          <%= f.radio_button :gifted_event, Review.gifted_events.key(1), id: "item_on_sale" %>
          <%= f.label :gifted_event, Review.gifted_events_i18n[:christmas], for: "item_on_sale"  %>
          <%= f.radio_button :gifted_event, Review.gifted_events.key(2), id: "item_on_sale" %>
          <%= f.label :gifted_event, Review.gifted_events_i18n[:father_day], for: "item_on_sale"  %>
          <%= f.radio_button :gifted_event, Review.gifted_events.key(3), id: "item_on_sale" %>
          <%= f.label :gifted_event, Review.gifted_events_i18n[:mother_day], for: "item_on_sale"  %>
          <%= f.radio_button :gifted_event, Review.gifted_events.key(4), id: "item_on_sale" %>
          <%= f.label :gifted_event, Review.gifted_events_i18n[:anniversary], for: "item_on_sale"  %>
          <%= f.radio_button :gifted_event, Review.gifted_events.key(5), id: "item_on_sale" %>
          <%= f.label :gifted_event, Review.gifted_events_i18n[:valentine], for: "item_on_sale"  %>
          <%= f.radio_button :gifted_event, Review.gifted_events.key(6), id: "item_on_sale" %>
          <%= f.label :gifted_event, Review.gifted_events_i18n[:white_day], for: "item_on_sale"  %>
          <%= f.radio_button :gifted_event, Review.gifted_events.key(7), id: "item_on_sale" %>
          <%= f.label :gifted_event, Review.gifted_events_i18n[:birthday_20th], for: "item_on_sale"  %>
          <%= f.radio_button :gifted_event, Review.gifted_events.key(8), id: "item_on_sale" %>
          <%= f.label :gifted_event, Review.gifted_events_i18n[:celebrate_job], for: "item_on_sale"  %>
          <%= f.radio_button :gifted_event, Review.gifted_events.key(9), id: "item_on_sale" %>
          <%= f.label :gifted_event, Review.gifted_events_i18n[:wedding_gift], for: "item_on_sale"  %>
          <%= f.radio_button :gifted_event, Review.gifted_events.key(10), id: "item_on_sale" %>
          <%= f.label :gifted_event, Review.gifted_events_i18n[:baby_gift], for: "item_on_sale"  %>
          <%= f.radio_button :gifted_event, Review.gifted_events.key(11), id: "item_on_sale" %>
          <%= f.label :gifted_event, Review.gifted_events_i18n[:housewarming], for: "item_on_sale"  %>
          <%= f.radio_button :gifted_event, Review.gifted_events.key(12), id: "item_on_sale" %>
          <%= f.label :gifted_event, Review.gifted_events_i18n[:birthday_60th], for: "item_on_sale"  %>
          <%= f.radio_button :gifted_event, Review.gifted_events.key(13), id: "item_on_sale" %>
          <%= f.label :gifted_event, Review.gifted_events_i18n[:other_day], for: "item_on_sale"  %>
        </div>


      <div class="actions pt-3">
        <%= f.submit '更新', class:"btn btn-light bg-gold btn-block" %>
      </div>
    <% end %>