<h3><%= @end_user.name %>さんのレビュー一覧</h3>

<div style="position:relative; width:250px; height:250px;">
    <canvas id="MyReviwChart"></canvas>
  </div>
  <script src="https://cdn.jsdelivr.net/npm/chart.js"></script>
  <script>
    const ctx = document.getElementById('MyReviwChart');

    new Chart(ctx, {
      type: 'pie',
      data: {
        labels: <%= @chartlabels %>,
        datasets: [{
          data: [
            <% @categorys.each do |category| %>
              <%= Review.where(category: category, end_user_id: @end_user.id ).count.to_i %>,
            <% end %>
            ],
          borderWidth: 1
        }]
      },
      options: {
        plugins: {
            legend: false
        },
      }
    });
  </script>
  <% @categorys.each do |category| %>
    <%= category %>
    <%= @count = Review.where(category: category, end_user_id: @end_user.id ).count %>件
    <br>
  <% end %>
  <hr>

<div class="search-bar">
  <%= search_form_for @q, url: end_user_reviews_path do |f| %>
    <div class="nav-title">詳細検索</div>
    <%= f.hidden_field :end_user_id_eq, :value => @end_user.id %>
    <%= f.search_field :name_or_body_cont, placeholder: 'キーワードから探す', class:'input-box' %>
    <br>
    <%= f.label :price, '価格' %>
      <%= f.number_field :price_gteq %>円以上～
      <%= f.number_field :price_lteq %>円以下
    <br>
    <% @categorys.each do |category| %>
      <%= f.check_box :category_eq_any, { multiple: true, include_hidden: false }, category, '' %>
      <%= category %>
    <% end %>
    <br>
    <%= f.label :evaluation, '評価' %>
    <%= f.check_box :evaluation_gteq_any, { multiple: true, include_hidden: false }, 1, '' %>
      ★☆☆☆☆以上
    <%= f.check_box :evaluation_gteq_any, { multiple: true, include_hidden: false }, 2, '' %>
      ★★☆☆☆以上
    <%= f.check_box :evaluation_gteq_any, { multiple: true, include_hidden: false }, 3, '' %>
      ★★★☆☆以上
    <%= f.check_box :evaluation_gteq_any, { multiple: true, include_hidden: false }, 4, '' %>
      ★★★★☆以上
    <%= f.check_box :evaluation_gteq_any, { multiple: true, include_hidden: false }, 5, '' %>
      ★★★★★
    <br>
    <%= f.date_field :created_at_gteq, include_blank: true, class: 'form-control'%> ～
    <%= f.date_field :created_at_lteq_end_of_day, include_blank: true, class: 'form-control'%>
    <%= f.submit '検索する' %>
    <% end %>
  </div>
  <hr>
   <%= form_with model: @review, url: end_user_reviews_path, method: :get do |f| %>
   <%= f.select :keyword, [ ['投稿が新しい順', 'new'], ['投稿が古い順', 'old'], ['評価が高い順', 'high_rated'], ['評価が低い順', 'low_rated']], { selected: 'high_rated' }, { class: "user_class" } %>
   <%= f.submit %>
  <% end %>

    <% if @q.end_user_id_eq != nil %>
      <% @search_reviews.each do |search_review| %>
        <%= image_tag (search_review.image) %>
        <%= search_review.name %>
        <%= search_review.price %>
        <%= search_review.body %><br>
      <hr>
      <% end %>
    <% elsif params[:keyword] != nil %>
      <% @sort_reviews.each do |sort_review| %>
        <%= image_tag (sort_review.image) %>
        <%= sort_review.name %>
        <%= sort_review.price %>
        <%= sort_review.body %><br>
      <hr>
      <% end %>
    <% else %>
      <% @reviews.each do |review| %>
        <%= image_tag (review.image) %>
        <div id="star-rate<%= review.id %>"></div>
        <script>
        var elem = document.getElementById('star-rate<%= review.id %>');
        var opt = {
        starOn: "<%= asset_path('star-on.png') %>",
        starOff: "<%= asset_path('star-off.png') %>",
        starHalf: "<%= asset_path('star-half.png') %>",
        half: true,
        readOnly: true,
        score: <%= review.evaluation %>,
          };
          raty(elem,opt);
        </script>
        <%= review.name %>
        <br>
        <%= review.price %>円
        <%= review.body %>
        <%= review.created_at.strftime('%Y/%m/%d') %>
        <br>
        <%= link_to edit_review_path(review) do %>
          編集
        <% end %>
        <%= link_to review_path(review), method: :delete do %>
          削除
        <% end %>
        <hr>
      <% end %>
    <% end %>