<p><%= image_tag (params[:image]), size: '200x200' %></p>
<p><%= params[:name] %></p>


<%= form_with model: @review, url: reviews_add_post_path, method: :post do |f| %>
  <%= f.hidden_field :code, :value => params[:code] %>
  <%= f.hidden_field :name, :value => params[:name] %>
  <%= f.hidden_field :url, :value => params[:url] %>
  <%= f.hidden_field :genre, :value => params[:genre] %>
  <%= f.hidden_field :category, :value => params[:category] %>
  <%= f.hidden_field :price, :value => params[:price] %>
  <%= f.hidden_field :image, :value => params[:image] %>

      <div class="form-group row">
        <%= f.label :"入手方法", class: "col-md-3 col-form-label" %>
          <%= f.radio_button :getting_method, Review.getting_methods.key(0), id: "item_on_sale" %>
          <%= f.label :getting_method, Review.getting_methods_i18n[:self_purchase], for: "item_on_sale"  %>
          <%= f.radio_button :getting_method, Review.getting_methods.key(1), id: "item_stop_sell"  %>
          <%= f.label :getting_method, Review.getting_methods_i18n[:gift], for: "item_stop_sell" %>
      </div>


    <div class="form-group row position-static" id="star">
      <%= f.label :evaluation,'評価 ', class:'col-md-3 col-form-label' %>
      <%= f.hidden_field :evaluation, id: :evaluation %>
    </div>

    <!--<script>-->
    <!--  $('#star').raty({-->
    <!--    size     : 36,-->
    <!--    starOff:  '<%#= asset_path('star-off.png') %>',-->
    <!--    starOn : '<%#= asset_path('star-on.png') %>',-->
    <!--    scoreName: 'review[evaluation]',-->
    <!--    half: false,-->
    <!--  });-->
    <!--</script>-->

    <script>
        var elem = document.getElementById('star');
        var opt = {
        starOn: "<%= asset_path('star-on.png') %>",
        starOff: "<%= asset_path('star-off.png') %>",
        starHalf: "<%= asset_path('star-half.png') %>",
        scoreName: 'review[evaluation]',
        half: true
      };
      raty(elem,opt);
    </script>


      <div class="form-group row">
        <%= f.label :"レビュー本文", class: "col-form-label", for: "item_introduction" %>
        <div class="col-md-8">
          <%= f.text_area :body, class: "form-control", id: "item_introduction", rows:"6", placeholder:"ここに説明文を記述します" %>
        </div>
      </div>

      <div class="actions pt-3">
        <%= f.submit '新規登録', class:"btn btn-light bg-gold btn-block" %>
      </div>
    <% end %>