<h2>Sign up</h2>

<%= form_with model: @end_user, url: end_user_registration_path, method: :post do |f| %>
  <div class="field">
    <%= f.label :"ID" %><br />
    <%= f.text_field :screen_name, autofocus: true %>
    <p>マイプロフィールのURLになります</p>
  </div>

  <div class="field">
    <%= f.label :"名前" %><br />
    <%= f.text_field :name, autocomplete: "name" %>
  </div>

  <div class="field">
    <%= f.label :email %><br />
    <%= f.email_field :email, autocomplete: "email" %>
  </div>

  <div class="field">
    <%= f.label :password %><br />
    <%= f.password_field :password, autocomplete: "new-password" %>
  </div>

  <div class="field">
    <div class="form-check">
      <%= f.radio_button :gender, EndUser.genders.key(0), id: "male" %>
      <%= f.label :gender, EndUser.genders_i18n[:male], for: "male" %>
    </div>
    <div class="form-check">
      <%= f.radio_button :gender, EndUser.genders.key(1), id: "female" %>
      <%= f.label :gender, EndUser.genders_i18n[:female], for: "female" %>
    </div>
    <div class="form-check">
      <%= f.radio_button :gender, EndUser.genders.key(2), id: "not_selected" %>
      <%= f.label :gender, EndUser.genders_i18n[:not_selected], for: "not_selected" %>
    </div>
  </div>

  <div class="field">
    <%= f.label :"生年月日" %><br />
    <%= f.date_select :birth_day, use_month_numbers: true, start_year: 1950, end_year: (Time.now.year - 10), default: Date.new(1990, 1, 1) %>
  </div>

  <div class="actions">
    <%= f.hidden_field :internet_protocol_address, :value => request.remote_ip %>
    <%= f.submit "新規登録" %>
  </div>
<% end %>