<h2>Sign up</h2>

<%= form_with model: @end_users, url: end_user_registration_path, method: :post do |f| %>
  <div class="field">
    <%= f.label :"ID" %><br />
    <%= f.text_field :screen_name, autofocus: true %>
    <p>マイプロフィールのURLになります</p>
  </div>

  <div class="field">
    <%= f.label :"名前" %><br />
    <%= f.text_field :name, autocomplete: "name" %>
  </div>

  <div class="field">
    <%= f.label :email %><br />
    <%= f.email_field :email, autocomplete: "email" %>
  </div>

  <div class="field">
    <%= f.label :password %>
    <% if @minimum_password_length %>
    <em>(<%= @minimum_password_length %> characters minimum)</em>
    <% end %><br />
    <%= f.password_field :password, autocomplete: "new-password" %>
  </div>

  <div class="field">
    <%= f.label :"生年月日" %><br />
    <%= f.date_select :birthday, class: 'form-control' %>
  </div>

  <div class="actions">
    <%= f.submit "新規登録" %>
  </div>
<% end %>