<div class="container px-5 py-4">
  <h3 class="subheading2">会員一覧</h3>

  <div class="search-area mb-4 d-flex justify-content-end">
    <%= search_form_for @q, url: admin_end_users_path do |f| %>
      <div class="input-group">
        <%= f.search_field :name_cont, placeholder: '名前から探す', class:'form-control medium' %>
        <%= f.search_field :screen_name_cont, placeholder: 'IDから探す', class:'form-control medium' %>
        <%= f.search_field :internet_protocol_address_eq, placeholder: 'IPアドレスから探す', class:'form-control medium' %>
        <div class="input-group-append">
          <%= f.submit '検索', class: "btn btn-secondary btn-sm px-3" %>
        </div>
      </div>
    <% end %>
  </div>

  <div class="end-user-table">
    <table class="table table-striped">
      <thead>
        <tr>
          <th>ID</th>
          <th>ユーザー</th>
          <th>メールアドレス</th>
          <th>IPアドレス</th>
          <th>評価平均値</th>
          <th>ステータス</th>
        </tr>
      </thead>
      <tbody>
        <% if params[:q] != nil %>
          <% @search_end_users.each do |search_end_user| %>
            <tr>
              <td><%= search_end_user.id %></td>
              <td>
                <%= link_to admin_end_user_path(search_end_user) do %>
                  <%= image_tag search_end_user.get_profile_image(30,30), class: "rounded-circle" %>
                  <%= link_to admin_end_user_path(search_end_user) do %>  
                    <span class="font-weight-bold text-info"><%= search_end_user.name %></span>
                  <% end %>
                  <span class="text-secondary">[@<%= search_end_user.screen_name %>]</span>
                <% end %>
              </td>
              <td><%= search_end_user.email %></td>
              <td><%= search_end_user.internet_protocol_address %></td>
              <td>
                <% if search_end_user.reviews.count != 0 %>
                  <%= (Review.where(end_user_id: search_end_user.id).average(:evaluation)).to_f.round(1) %>
                <% else %>
                  未レビュー
                <% end %>
              </td>
              <th>
                <% if search_end_user.is_deleted == "member" %>
                  <span class="text-success"><%= search_end_user.is_deleted_i18n %></span>
                <% else %>
                  <span class="text-black-50"><%= search_end_user.is_deleted_i18n %></span>
                <% end %>
              </th>
            </tr>
          <% end %>
        <% else %>
          <% @end_users.each do |end_user| %>
            <tr>
              <td><%= end_user.id %></td>
              <td>
                <%= image_tag end_user.get_profile_image(30,30), class: "rounded-circle" %>
                <%= link_to admin_end_user_path(end_user) do %>  
                  <span class="font-weight-bold text-info"><%= end_user.name %></span>
                <% end %>
                <span class="text-secondary">[@<%= end_user.screen_name %>]</span>
              </td>
              <td><%= end_user.email %></td>
              <td><%= end_user.internet_protocol_address %></td>
              <td>
                <% if end_user.reviews.count != 0 %>
                  <%= (Review.where(end_user_id: end_user.id).average(:evaluation)).to_f.round(1) %>
                <% else %>
                  未レビュー
                <% end %>
              </td>
              <th>
                <% if end_user.is_deleted == "member" %>
                  <span class="text-success"><%= end_user.is_deleted_i18n %></span>
                <% else %>
                  <span class="text-black-50"><%= end_user.is_deleted_i18n %></span>
                <% end %>
              </th>
            </tr>
          <% end %>
        <% end %>
      </tbody>
    </table>
  </div>
  <div class="d-flex justify-content-center medium mt-4">
    <% if params[:q] != nil %>
      <%= paginate @search_end_users, class: "medium" %>
    <% else %>
      <%= paginate @end_users, class: "medium" %>
    <% end %>
  </div>
</div>