<div class="container px-5 py-4">
  <h3 class="subheading2">会員情報</h3>
  <div class="row bg-gray rounded-lg mx-1 p-3">
    <div class="col-md-2 text-center p-0">
      <%= image_tag @end_user.get_profile_image(150,150), class: "rounded-circle img-fluid" %>
      <% if @end_user.is_deleted == "unsubscribe" %>
        <%= link_to "凍結解除", end_user_membership_path(id: @end_user), method: :patch, class: "btn btn-success btn-block mt-3" %>
      <% else %>
        <%= link_to "凍結する", end_user_unsubscribe_path(id: @end_user), method: :patch, class: "btn btn-danger btn-block mt-3", "data-confirm" => "本当に凍結させますか？" %>
      <% end %>
    </div>
    <div class="col-md-4">
      <h3 class="font-weight-bold pt-3 mb-0"><%= @end_user.name %></h3>
      <p>[@<%= @end_user.screen_name %>]</p>
    </div>
    <div class="col-md-6">
      <dl class="row medium">
        <dt class="col-4 border-bottom border-secondary pt-2 pb-1">性別</dt>
        <dd class="col-8 border-bottom border-secondary m-0 pt-2 pb-1"><%= @end_user.gender_i18n %></dd>
        <dt class="col-4 border-bottom border-secondary pt-2 pb-1">生年月日</dt>
        <dd class="col-8 border-bottom border-secondary m-0 pt-2 pb-1"><%= @end_user.birth_day %></dd>
        <dt class="col-4 border-bottom border-secondary pt-2 pb-1">年代</dt>
        <dd class="col-8 border-bottom border-secondary m-0 pt-2 pb-1"><%= @end_user.era %></dd>
        <dt class="col-4 border-bottom border-secondary pt-2 pb-1">メールアドレス</dt>
        <dd class="col-8 border-bottom border-secondary m-0 pt-2 pb-1"><%= @end_user.email %></dd>
        <dt class="col-4 border-bottom border-secondary pt-2 pb-1">ステータス</dt>
        <dd class="col-8 border-bottom border-secondary m-0 pt-2 pb-1"><%= @end_user.is_deleted_i18n %></dd>
        <dt class="col-4 border-bottom border-secondary pt-2 pb-1">登録日</dt>
        <dd class="col-8 border-bottom border-secondary m-0 pt-2 pb-1"><%= @end_user.created_at.strftime('%Y/%m/%d') %></dd>
      </dl>
    </div>
  </div>

  <h5 class="subheading font-weight-bold mt-5 mb-4"><%= @end_user.name %>さんのレビュー</h5>
  <div class="row">
    <div class="search-bar col-md-3 medium">
      <%= search_form_for @q, url: admin_end_user_path(@end_user) do |f| %>
        <%= f.hidden_field :end_user_id_eq, :value => @end_user.id %>
            <h6 class="font-weight-bold mb"><i class="fa-solid fa-magnifying-glass"></i> 検索</h6>
            <div class="form-group">
              <%= f.search_field :body_cont, placeholder: 'レビュー本文を検索', class:'form-control medium' %>
            </div>
            <p class="font-weight-bold col-form-label">評価</p>
            <div class="form-group medium">
              <div class="form-check">
                <%= f.check_box :evaluation_lteq_any, { multiple: true, include_hidden: false, class: 'form-check-input', id: 'evaluation-check1' }, 1, '' %>
                <%= f.label "★☆☆☆☆以下", class:'form-check-label', for: 'evaluation-check1' %>
              </div>
              <div class="form-check">
                <%= f.check_box :evaluation_lteq_any, { multiple: true, include_hidden: false, class: 'form-check-input', id: 'evaluation-check2' }, 2, '' %>
                <%= f.label "★★☆☆☆以下", class:'form-check-label', for: 'evaluation-check2' %>
              </div>
              <div class="form-check">
                <%= f.check_box :evaluation_lteq_any, { multiple: true, include_hidden: false, class: 'form-check-input', id: 'evaluation-check3' }, 3, '' %>
                <%= f.label "★★★☆☆以下", class:'form-check-label', for: 'evaluation-check3' %>
              </div>
              <div class="form-check">
                <%= f.check_box :evaluation_lteq_any, { multiple: true, include_hidden: false, class: 'form-check-input', id: 'evaluation-check4' }, 4, '' %>
                <%= f.label "★★★★☆以下", class:'form-check-label', for: 'evaluation-check4' %>
              </div>
              <div class="form-check">
                <%= f.check_box :evaluation_lteq_any, { multiple: true, include_hidden: false, class: 'form-check-input', id: 'evaluation-check5' }, 5, '' %>
                <%= f.label "★★★★★", class:'form-check-label', for: 'evaluation-check5' %>
              </div>
            </div>
            <p class="font-weight-bold col-form-label">公開範囲</p>
            <div class="form-group medium">
              <div class="form-check form-check-inline">
                <%= f.check_box :is_disclose_eq_any, { multiple: true, include_hidden: false, class: 'form-check-input', id: 'is_disclose-check1' }, true, '' %>
                <%= f.label "公開レビュー", class:'form-check-label', for: 'is_disclose-check1' %>
              </div>
              <div class="form-check form-check-inline">
                <%= f.check_box :is_disclose_eq_any, { multiple: true, include_hidden: false, class: 'form-check-input', id: 'is_disclose-check2' }, false, '' %>
                <%= f.label "非公開レビュー", class:'form-check-label', for: 'is_disclose-check2' %>
              </div>
            </div>
            <p class="font-weight-bold col-form-label">投稿日時</p>
            <div class="form-group row no-gutters">
              <div class="col-5">
                <%= f.date_field :created_at_gteq, include_blank: true, class:'form-control medium' %>
              </div>
              <label class="col-1 col-form-label text-center">～</label>
              <div class="col-5">
                <%= f.date_field :created_at_lteq_end_of_day, include_blank: true, class:'form-control medium' %>
              </div>
            </div>
            <div class="text-right">
              <%= f.submit '検索する', class: "btn btn-secondary btn-sm px-5" %>
            </div>
        <% end %>
    </div>

    <div class="col-md-9">
    <% if params[:q] != nil %>
      <% @search_reviews.each do |search_review| %>
        <% if search_review.is_disclose == "closed" %>
          <div class="bg-gray mb-3 py-2 px-3">
            <div class="border-bottom border-secondary d-flex justify-content-between pt-2">
              <p class="font-weight-bold text-danger">非公開レビュー</p>
              <p class="medium">投稿日：<%= search_review.created_at.strftime('%Y/%m/%d') %></p>
            </div>
            <div class="row no-gutters my-2">
              <div class="col-auto">
                <%= image_tag search_review.image, class: "", width: '100px', height: '100px' %>
              </div>
              <div class="col-10 pl-2">
                <div id="star-rate<%= search_review.id %>"></div>
                  <script>
                    $('#star-rate<%= search_review.id %>').empty();
                    var elem = document.getElementById('star-rate<%= search_review.id %>');
                    var opt = {
                      starOn: "<%= asset_path('star-on.png') %>",
                      starOff: "<%= asset_path('star-off.png') %>",
                      starHalf: "<%= asset_path('star-half.png') %>",
                      half: true,
                      readOnly: true,
                      score: <%= search_review.evaluation %>,
                      };
                    raty(elem,opt);
                  </script>
                <h6 class="font-weight-bold pt-2"><%= search_review.name %></h6>
              </div>
            </div>
            <div class="bg-white rounded-lg p-2">
              <p><%= search_review.body %></p>
            </div>
            <%= link_to "公開にする", review_disclosed_path(id: search_review.id), method: :patch, class: "btn btn-success btn-block my-2" %>
          </div>
        <% else %>
          <div class="border border-secondary mb-3 py-2 px-3">
            <div class="border-bottom medium text-right">
              <p class="pt-2">投稿日：<%= search_review.created_at.strftime('%Y/%m/%d') %></p>
            </div>
            <div class="row no-gutters my-2">
              <div class="col-auto">
                <%= image_tag search_review.image, class: "", width: '100px', height: '100px' %>
              </div>
              <div class="col-10 pl-2">
                <div id="star-rate<%= search_review.id %>"></div>
                  <script>
                    $('#star-rate<%= search_review.id %>').empty();
                    var elem = document.getElementById('star-rate<%= search_review.id %>');
                    var opt = {
                      starOn: "<%= asset_path('star-on.png') %>",
                      starOff: "<%= asset_path('star-off.png') %>",
                      starHalf: "<%= asset_path('star-half.png') %>",
                      half: true,
                      readOnly: true,
                      score: <%= search_review.evaluation %>,
                      };
                    raty(elem,opt);
                  </script>
                <h6 class="font-weight-bold pt-2"><%= search_review.name %></h6>
              </div>
            </div>
            <div class="bg-gray rounded-lg p-2">
              <p><%= search_review.body %></p>
            </div>
            <%= link_to "非公開にする", review_closed_path(id: search_review.id), method: :patch, class: "btn btn-danger btn-block my-2" %>
          </div>
        <% end %>
      <% end %>
    <% else %>
      <% @reviews.each do |review| %>
        <% if review.is_disclose == "closed" %>
          <div class="bg-gray mb-3 py-2 px-3">
            <div class="border-bottom border-secondary d-flex justify-content-between pt-2">
              <p class="font-weight-bold text-danger">非公開レビュー</p>
              <p class="medium">投稿日：<%= review.created_at.strftime('%Y/%m/%d') %></p>
            </div>
            <div class="row no-gutters my-2">
              <div class="col-auto">
                <%= image_tag review.image, class: "", width: '100px', height: '100px' %>
              </div>
              <div class="col-10 pl-2">
                <div id="star-rate<%= review.id %>"></div>
                  <script>
                    $('#star-rate<%= review.id %>').empty();
                    var elem = document.getElementById('star-rate<%= review.id %>');
                    var opt = {
                      starOn: "<%= asset_path('star-on.png') %>",
                      starOff: "<%= asset_path('star-off.png') %>",
                      starHalf: "<%= asset_path('star-half.png') %>",
                      half: true,
                      readOnly: true,
                      score: <%= review.evaluation %>,
                      };
                    raty(elem,opt);
                  </script>
                <h6 class="font-weight-bold pt-2"><%= review.name %></h6>
              </div>
            </div>
            <div class="bg-white rounded-lg p-2">
              <p><%= review.body %></p>
            </div>
            <%= link_to "公開にする", review_disclosed_path(id: review.id), method: :patch, class: "btn btn-success btn-block my-2" %>
          </div>
        <% else %>
          <div class="border border-secondary mb-3 py-2 px-3">
            <div class="border-bottom medium text-right">
              <p class="pt-2">投稿日：<%= review.created_at.strftime('%Y/%m/%d') %></p>
            </div>
            <div class="row no-gutters my-2">
              <div class="col-auto">
                <%= image_tag review.image, class: "", width: '100px', height: '100px' %>
              </div>
              <div class="col-10 pl-2">
                <div id="star-rate<%= review.id %>"></div>
                  <script>
                    $('#star-rate<%= review.id %>').empty();
                    var elem = document.getElementById('star-rate<%= review.id %>');
                    var opt = {
                      starOn: "<%= asset_path('star-on.png') %>",
                      starOff: "<%= asset_path('star-off.png') %>",
                      starHalf: "<%= asset_path('star-half.png') %>",
                      half: true,
                      readOnly: true,
                      score: <%= review.evaluation %>,
                      };
                    raty(elem,opt);
                  </script>
                <h6 class="font-weight-bold pt-2"><%= review.name %></h6>
              </div>
            </div>
            <div class="bg-gray rounded-lg p-2">
              <p><%= review.body %></p>
            </div>
            <%= link_to "非公開にする", review_closed_path(id: review.id), method: :patch, class: "btn btn-danger btn-block my-2" %>
          </div>
        <% end %>
      <% end %>
    <% end %>
  </div>
</div>