<h1>会員情報</h1>
  <%= image_tag @end_user.get_profile_image(200,200) %>
  <%= @end_user.name %>[@<%= @end_user.screen_name %>] <br>
  <%= @end_user.gender_i18n %> || <%= @end_user.birth_day %> || <%= @end_user.era %> || <%= @end_user.email %> || <%= @end_user.is_deleted_i18n %><br>
  <%= @end_user.created_at.strftime('%Y/%m/%d') %><br>
  <hr>


<h3><%= @end_user.name %>さんのレビュー一覧</h3>
<div class="search-bar">
  <%= search_form_for @q, url: admin_end_user_path(@end_user) do |f| %>
    <div class="nav-title">詳細検索</div>
    <%= f.hidden_field :end_user_id_eq, :value => @end_user.id %>
    <%= f.search_field :body_cont, placeholder: 'レビュー本文から探す', class:'input-box' %>
    <br>
    <%= f.label :evaluation, '評価' %>
    <%= f.check_box :evaluation_lteq_any, { multiple: true, include_hidden: false }, 1, '' %>
      ★☆☆☆☆以下
    <%= f.check_box :evaluation_lteq_any, { multiple: true, include_hidden: false }, 2, '' %>
      ★★☆☆☆以下
    <%= f.check_box :evaluation_lteq_any, { multiple: true, include_hidden: false }, 3, '' %>
      ★★★☆☆以下
    <%= f.check_box :evaluation_lteq_any, { multiple: true, include_hidden: false }, 4, '' %>
      ★★★★☆以下
    <%= f.check_box :evaluation_lteq_any, { multiple: true, include_hidden: false }, 5, '' %>
      ★★★★★以下
    <br>
    <%= f.label :is_disclose_eq_any, '公開範囲' %>
    <%= f.check_box :is_disclose_eq_any, { multiple: true, include_hidden: false }, true, '' %>
      <%= f.label Review.is_discloses_i18n[:disclosed] %>
    <%= f.check_box :is_disclose_eq_any, { multiple: true, include_hidden: false }, false, '' %>
      <%= f.label Review.is_discloses_i18n[:closed] %>
    <br>
    <%= f.date_field :created_at_gteq, include_blank: true, class: 'form-control'%> ～
    <%= f.date_field :created_at_lteq_end_of_day, include_blank: true, class: 'form-control'%>
    <%= f.submit '検索する' %>
    <% end %>
  </div>
  <hr>


<% if params[:q] != nil %>
  <% @search_reviews.each do |search_review| %>
    <div style="background-color:#cccccc">
      <%= search_review.created_at.strftime('%Y/%m/%d') %><br>
      ユーザー名：<%= image_tag search_review.end_user.get_profile_image(30,30) %>
      <%= search_review.end_user.name %>[@<%= search_review.end_user.screen_name %>]<br>
      レビュー商品名：<%= search_review.name %>
    </div>
    <div id="star-rate<%= search_review.id %>"></div>
        <script>
        var elem = document.getElementById('star-rate<%= search_review.id %>');
        var opt = {
        starOn: "<%= asset_path('star-on.png') %>",
        starOff: "<%= asset_path('star-off.png') %>",
        starHalf: "<%= asset_path('star-half.png') %>",
        half: true,
        readOnly: true,
        score: <%= search_review.evaluation %>,
          };
          raty(elem,opt);
        </script>
    <%= search_review.body %>
    <br>
    <%= search_review.is_checked_i18n %> || <%= search_review.is_disclose_i18n %>
    <br>
    <% if search_review.is_disclose == "disclosed" %>
      <%= link_to "非公開にする", review_closed_path(id: search_review.id), method: :patch, class: "btn btn-danger btn-block", style: "background-color:red" %>
    <% else %>
      <%= link_to "公開にする", review_disclosed_path(id: search_review.id), method: :patch, class: "btn btn-danger btn-block", style: "background-color:green" %>
    <% end %>
    <hr>
  <% end %>
<% else %>
  <% @end_user.reviews.each do |review| %>
    <div style="background-color:#cccccc">
      <%= review.created_at.strftime('%Y/%m/%d') %><br>
      ユーザー名：<%= image_tag review.end_user.get_profile_image(30,30) %>
      <%= review.end_user.name %>[@<%= review.end_user.screen_name %>]<br>
      レビュー商品名：<%= review.name %>
    </div>
    <div id="star-rate<%= review.id %>"></div>
        <script>
        var elem = document.getElementById('star-rate<%= review.id %>');
        var opt = {
        starOn: "<%= asset_path('star-on.png') %>",
        starOff: "<%= asset_path('star-off.png') %>",
        starHalf: "<%= asset_path('star-half.png') %>",
        half: true,
        readOnly: true,
        score: <%= review.evaluation %>,
          };
          raty(elem,opt);
        </script>
    <%= review.body %>
    <br>
    <%= review.is_checked_i18n %> || <%= review.is_disclose_i18n %>
    <br>
    <% if review.is_disclose == "disclosed" %>
      <%= link_to "非公開にする", review_closed_path(id: review.id), method: :patch, class: "btn btn-danger btn-block", style: "background-color:red" %>
    <% else %>
      <%= link_to "公開にする", review_disclosed_path(id: review.id), method: :patch, class: "btn btn-danger btn-block", style: "background-color:green" %>
    <% end %>
    <hr>
  <% end %>
<% end %>
