<div class="container-fluid bg-yellow">
  <% if alert %>
    <div class="container alert alert-danger pt-3 px-5 pb-0">
      <p><%= alert %></p>
    </div>
  <% end %>

  <div class="row no-gutters">
    <div class="col-lg-4 col-sm-7 py-5 my-5 mx-auto">
      <h2 class="sign_in mb-n2">Login</h2>

      <div class="form-body shadow bg-white p-5">
        <%= form_with model: @end_user, url: end_user_session_path, method: :post do |f| %>
          <div class="form-group">
            <%= f.label :"ID", class: "text-uppercase" %>
            <%= f.text_field :screen_name, class: "form-control" %>
          </div>
          <div class="form-group">
            <%= f.label :password, class: "text-capitalize" %><br />
            <%= f.password_field :password, class: "form-control", autocomplete: "current-password" %>
          </div>
          <div class="actions text-center my-5 py-3">
            <%= f.submit "ログイン", class:"btn bg-blue w-50 medium text-white" %>
          </div>
        <% end %>
      </div>

      <h6 class="float-right mb-5 pt-2 pb-5"><%= link_to "新規登録", new_end_user_registration_path, class: "text-dark" %></h6>
    </div>
  </div>
</div>
