<p><%= image_tag (@item_params[:image]), size: '200x200' %></p>
<p><%= @item_params[:name] %></p>
<p><%= @item_params[:price] %>円</p>
<p>カテゴリー：<%= @category %>
</p>
<%= link_to "楽天ページ", @item_params[:url] %>

<div>
  <%= form_with model: @favorite, url: favorites_path, method: :post do |f| %>
    <%= f.hidden_field :code, :value => @item_params[:code] %>
    <%= f.hidden_field :name, :value => @item_params[:name] %>
    <%= f.hidden_field :url, :value => @item_params[:url] %>
    <%= f.hidden_field :category, :value => @category %>
    <%= f.hidden_field :price, :value => @item_params[:price] %>
    <%= f.hidden_field :image, :value => @item_params[:image] %>
    <%= f.hidden_field :genre, :value => @item_params[:genre] %>
    <%= f.submit '好きな物に追加' %>
  <% end %>
  <%= form_with model: @want_item, url: want_items_path, method: :post do |f| %>
    <%= f.hidden_field :code, :value => @item_params[:code] %>
    <%= f.hidden_field :name, :value => @item_params[:name] %>
    <%= f.hidden_field :url, :value => @item_params[:url] %>
    <%= f.hidden_field :category, :value => @category %>
    <%= f.hidden_field :price, :value => @item_params[:price] %>
    <%= f.hidden_field :image, :value => @item_params[:image] %>
    <%= f.hidden_field :genre, :value => @item_params[:genre] %>
    <%= f.submit '欲しい物に追加' %>
  <% end %>
  <%= link_to "レビューを書く", new_review_path(name: @item_params[:name], code: @item_params[:code], image: @item_params[:image], price: @item_params[:price], genre: @item_params[:genre], category: @category, url: @item_params[:url] ) %>

</div>


<h3>▼レビュー</h3>
<div class="search-bar">
  <%= search_form_for @q, url: item_path do |f| %>
    <div class="nav-title">詳細検索</div>
    <%= f.hidden_field :code, :value => @item_params[:code] %>
    <%= f.hidden_field :genre, :value => @item_params[:genre] %>
    <%= f.hidden_field :name, :value => @item_params[:name] %>
    <%= f.hidden_field :url, :value => @item_params[:url] %>
    <%= f.hidden_field :price, :value => @item_params[:price] %>
    <%= f.hidden_field :image, :value => @item_params[:image] %>

    <%= f.search_field :body_cont, placeholder: 'キーワードから探す', class:'input-box' %>
    <%= f.hidden_field :code_eq, :value => @item_params[:code] %><br>

    <%= f.label :end_user_gender_eq_any, '性別' %>
    <%= f.check_box :end_user_gender_eq_any, { multiple: true, include_hidden: false }, 0, '' %>
      <%= f.label EndUser.genders_i18n[:male] %>
    <%= f.check_box :end_user_gender_eq_any, { multiple: true, include_hidden: false }, 1, '' %>
      <%= f.label EndUser.genders_i18n[:female] %>
    <%= f.check_box :end_user_gender_eq_any, { multiple: true, include_hidden: false }, 2, '' %>
      <%= f.label EndUser.genders_i18n[:not_selected] %>

    <br>
    <%= f.label :end_user_birth_day_to_age, '年齢' %>
    <%= f.select :end_user_birth_day_to_age_gteq, *[10..100] , { include_blank: "" }, { class: "form-control" } %>歳以上～
    <%= f.select :end_user_birth_day_to_age_lteq, *[10..100] , { include_blank: "" }, { class: "form-control" } %>歳以下

    <br>
      <%= f.submit '検索する' %>
      </ul>
    <% end %>
  </div>
    <hr>
    <% if @q.code_eq || @q.body_cont != nil %>
      <% @search_reviews.each do |search_review| %>
        <%= search_review.body %><br>
        <%= search_review.end_user.name%> <%= search_review.end_user.era %> <%= search_review.end_user.gender_i18n %><br>
      <hr>
      <% end %>
    <% else %>
      <% @reviews.each do |review| %>
        <%= review.created_at.strftime('%Y/%m/%d') %> :: <%= review.body %><br>
        <%= review.end_user.name %>　<%= review.end_user.era %>　 <%= review.end_user.gender_i18n %>
      <hr>
    <% end %>
  <% end %>