<p><%= image_tag (params[:image][0]), size: '200x200' %></p>
<p><%= params[:name] %></p>
<p><%= params[:price] %>円</p>
<p>カテゴリー：<%= @category %>
</p>
<%= link_to "楽天ページ", params[:url] %>

<div>
  <%= form_with model: @favorite, url: favorites_path, method: :post do |f| %>
    <%= f.hidden_field :code, :value => params[:code] %>
    <%= f.hidden_field :name, :value => params[:name] %>
    <%= f.hidden_field :url, :value => params[:url] %>
    <%= f.hidden_field :category, :value => @category %>
    <%= f.hidden_field :price, :value => params[:price] %>
    <%= f.hidden_field :image, :value => params[:image] %>
    <%= f.submit '好きな物に追加' %>
  <% end %>

  <%= form_with model: @want_item, url: want_items_path, method: :post do |f| %>
    <%= f.hidden_field :code, :value => params[:code] %>
    <%= f.hidden_field :name, :value => params[:name] %>
    <%= f.hidden_field :url, :value => params[:url] %>
    <%= f.hidden_field :category, :value => @category %>
    <%= f.hidden_field :price, :value => params[:price] %>
    <%= f.hidden_field :image, :value => params[:image] %>
    <%= f.submit '欲しい物に追加' %>
  <% end %>

  <%= link_to "レビューを書く", new_reviews_path(name: params[:name], code: params[:code], image: params[:image], price: params[:price], category: @category, url: params[:url] ) %>

</div>