<!DOCTYPE html>
<html>
  <head>
    <title>GiveLike</title>
    <meta name="viewport" content="width=device-width,initial-scale=1">
    <%= csrf_meta_tags %>
    <%= csp_meta_tag %>

    <%= stylesheet_link_tag 'application', media: 'all', 'data-turbolinks-track': 'reload' %>
    <%= javascript_pack_tag 'application', 'data-turbolinks-track': 'reload' %>
  </head>

  <body>
    <div>
      <%= form_with url: items_search_path, method: :get, local: true do |f| %>
        <div class="form-group">
          <%= f.text_field :keyword, value: params[:keyword], class: "form-control" %>
          <%= f.submit '製品名を検索', class: "form-control btn btn-success" %>
        </div>
      <% end %>
    </div>
    <%= yield %>
  </body>
</html>
