<!DOCTYPE html>
<html>
  <head>
    <title>GiveLike</title>
    <meta name="viewport" content="width=device-width,initial-scale=1">
    <script src="https://kit.fontawesome.com/148c06dab2.js" crossorigin="anonymous"></script>
    <script src="https://cdn.jsdelivr.net/npm/chart.js"></script>
    <%= csrf_meta_tags %>
    <%= csp_meta_tag %>
    <%= stylesheet_pack_tag 'application', media: 'all', 'data-turbolinks-track': 'reload' %>
    <%= javascript_pack_tag 'application', 'data-turbolinks-track': 'reload' %>
    <link rel="preconnect" href="https://fonts.googleapis.com">
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
    <link href="https://fonts.googleapis.com/css2?family=Mulish:wght@300&family=Noto+Serif+JP:wght@300&family=Pacifico&display=swap" rel="stylesheet">
  </head>

  <body class="d-flex flex-column vh-100">
    <header class="border-bottom border-secondary">
      <nav class="navbar navbar-expand-md navbar-light">
        <div class="container-fluid">
          <%= link_to root_path, class: "navbar-brand px-5" do %>
            <h1 class="logo">GiveLike</h1>
          <% end %>

          <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarNavDropdown"
                        aria-controls="navbarNavDropdown" aria-expanded="false" aria-label="Toggle navigation">
            <span class="navbar-toggler-icon"></span>
          </button>
          <div class="collapse navbar-collapse" id="navbarNavDropdown">

            <% if end_user_signed_in? %>
              <%= form_with url: items_search_path, method: :get, local: true, class: "w-50 ml-auto" do |f| %>
                <div class="input-group">
                  <%= f.text_field :keyword, value: params[:keyword], class: "form-control search bg-dark border-dark medium" , placeholder: "商品を検索", aria_describedby: "button-addon2" %>
                  <div class="input-group-append">
                    <%= button_tag sanitize('<i class="fa fa-search"></i>'), :type => "submit", :class =>"btn btn-dark medium", :id => "button-addon2" %>
                  </div>
                </div>
              <% end %>
              <ul class="navbar-nav medium text-right ml-auto">
                <li class="nav-item">
                  <%= link_to "楽天ランキング", items_path, class: "nav-link" %>
                </li>
                <li class="nav-item">
                  <%= link_to "レビューランキング", reviews_ranking_path, class: "nav-link" %>
                </li>
                <li class="nav-item">
                  <%= link_to "アンケート", responses_path, class: "nav-link" %>
                </li>
                <li class="nav-item dropdown">
                  <a href="#" class="nav-link dropdown-toggle p-1" role="button" data-toggle="dropdown" aria-expanded="false">
                    <%= image_tag current_end_user.get_profile_image(30,30), class: "rounded-circle" %>
                  </a>
                  <div class="dropdown-menu dropdown-menu-right medium">
                    <%= link_to "マイページ", end_user_path(current_end_user.screen_name), class: "dropdown-item" %>
                    <%= link_to "ログアウト", destroy_end_user_session_path, method: :delete, class: "dropdown-item" %>
                  </div>
                </li>
              </ul>

            <% elsif admin_signed_in? %>
              <ul class="navbar-nav medium text-right ml-auto">
                <li class="nav-item">
                  <%= link_to "新着レビュー", admin_path, class: "nav-link" %>
                </li>
                <li class="nav-item">
                  <%= link_to "レビュー一覧", admin_reviews_path, class: "nav-link" %>
                </li>
                <li class="nav-item">
                  <%= link_to "会員一覧", admin_end_users_path, class: "nav-link" %>
                </li>
                <li class="nav-item">
                  <%= link_to "アンケート結果", admin_responses_path, class: "nav-link" %>
                </li>
                <li class="nav-item">
                  <%= link_to "ログアウト", destroy_admin_session_path, method: :delete, class: "nav-link" %>
                </li>
              </ul>

            <% else %>
              <%= form_with url: items_search_path, method: :get, local: true, class: "w-50 ml-auto" do |f| %>
                <div class="input-group">
                  <%= f.text_field :keyword, value: params[:keyword], class: "form-control search bg-dark border-dark medium" , placeholder: "商品を検索", aria_describedby: "button-addon2" %>
                  <div class="input-group-append">
                    <%= button_tag sanitize('<i class="fa fa-search"></i>'), :type => "submit", :class =>"btn btn-dark medium", :id => "button-addon2" %>
                  </div>
                </div>
              <% end %>
              <ul class="navbar-nav medium text-right ml-auto">
                <li class="nav-item">
                  <%= link_to "楽天ランキング", items_path, class: "nav-link" %>
                </li>
                <li class="nav-item">
                  <%= link_to "レビューランキング", reviews_ranking_path, class: "nav-link" %>
                </li>
                <li class="nav-item">
                  <%= link_to "アンケート", responses_path, class: "nav-link" %>
                </li>
                <li class="nav-item my-auto p-1">
                  <%= link_to "新規", new_end_user_registration_path, class: "btn btn-success btn-sm" %>
                </li>
                <li class="nav-item my-auto p-1">
                  <%= link_to "ログイン", new_end_user_session_path, class: "btn bg-blue btn-sm text-white" %>
                </li>
              </ul>
            <% end %>

          </div>
        </div>
      </nav>
    </header>

    <main class="mb-auto">
      <%= yield %>
    </main>

    <footer class="bg-dark text-white">
      <div class="container">
        <div class="row no-gutters py-4">
          <div class="col-md-3 my-2">
            <p class="medium m-0">相手に寄り添うプレゼントサイト</p>
            <h1 class="logo">GiveLike</h1>
          </div>
          <div class="col-md-3">
            <h6 class="my-3">楽天男女別売れ筋ランキング</h6>
            <ul class="list-unstyled medium">
              <li>
                <%= link_to "男性ランキング", items_path(sex: 0, title: "男性" ), class: "text-white-50" %>
              </li>
              <li>
                <%= link_to "女性ランキング", items_path(sex: 1, title: "女性" ), class: "text-white-50" %>
              </li>
            </ul>
            <h6 class="my-3">楽天年齢別売れ筋ランキング</h6>
            <ul class="list-unstyled medium">
              <li>
                <%= link_to "10代ランキング", items_path(age: 10, title: "10代" ), class: "text-white-50" %>
              </li>
              <li>
                <%= link_to "20代ランキング", items_path(age: 20, title: "20代" ), class: "text-white-50" %>
              </li>
              <li>
                <%= link_to "30代ランキング", items_path(age: 30, title: "30代" ), class: "text-white-50" %>
              </li>
              <li>
                <%= link_to "40代ランキング", items_path(age: 40, title: "40代" ), class: "text-white-50" %>
              </li>
              <li>
                <%= link_to "50代ランキング", items_path(age: 50, title: "50代" ), class: "text-white-50" %>
              </li>
            </ul>
          </div>
          <div class="col-md-4">
            <h6 class="my-3">楽天ジャンル別売れ筋ランキング</h6>
            <ul class="list-unstyled medium">
              <li>
                <%= link_to "レディースファッション", items_path(genre: 100371, title: "レディースファッション" ), class: "text-white-50" %>
              </li>
              <li>
                <%= link_to "メンズファッション", items_path(genre: 551177, title: "メンズファッション" ), class: "text-white-50" %>
              </li>
              <li>
                <%= link_to "ジュエリー・アクセサリー", items_path(genre: 216129, title: "ジュエリー・アクセサリー" ), class: "text-white-50" %>
              </li>
              <li>
                <%= link_to "バッグ・小物・ブランド雑貨", items_path(genre: 216131, title: "バッグ・小物・ブランド雑貨" ), class: "text-white-50" %>
              </li>
              <li>
                <%= link_to "靴", items_path(genre: 558885, title: "靴" ), class: "text-white-50" %>
              </li>
              <li>
                <%= link_to "腕時計", items_path(genre: 558929, title: "腕時計" ), class: "text-white-50" %>
              </li>
              <li>
                  <%= link_to "食品", items_path(genre: 100227, title: "食品" ), class: "text-white-50" %>
              </li>
              <li>
                <%= link_to "スイーツ・お菓子", items_path(genre: 551167, title: "スイーツ・お菓子" ), class: "text-white-50" %>
              </li>
              <li>
                <%= link_to "ビール・洋酒", items_path(genre: 510915, title: "ビール・洋酒" ), class: "text-white-50" %>
              </li>
              <li>
                <%= link_to "日本酒・焼酎", items_path(genre: 510901, title: "日本酒・焼酎" ), class: "text-white-50" %>
              </li>
              <li>
                <%= link_to "美容・コスメ・香水", items_path(genre: 100939, title: "美容・コスメ・香水" ), class: "text-white-50" %>
              </li>
              <li>
                <%= link_to "花・ガーデン・DIY", items_path(genre: 100005, title: "花・ガーデン・DIY" ), class: "text-white-50" %>
              </li>
              <li>
                <%= link_to "キッズ・ベビー・マタニティ", items_path(genre: 100533, title: "キッズ・ベビー・マタニティ" ), class: "text-white-50" %>
              </li>
              <li>
                <%= link_to "カタログギフト・チケット", items_path(genre: 101381, title: "カタログギフト・チケット" ), class: "text-white-50" %>
              </li>
            </ul>
          </div>
          <div class="col-md-2">
            <h6 class="my-3">GiveLike</h6>
            <ul class="list-unstyled medium">
              <li>
                <%= link_to "レビューランキング", reviews_ranking_path, class: "text-white-50" %>
              </li>
              <li>
                <%= link_to "プレゼントアンケート", responses_path, class: "text-white-50" %>
              </li>
            </ul>
            <hr class="border-secondary">
            <ul class="list-unstyled medium">
              <li>
                <a href="" class="text-white-50">会社概要</a>
              </li>
              <li>
                <a href="" class="text-white-50">利用規約</a>
              </li>
              <li>
                <a href="" class="text-white-50">プライバシー規約</a>
              </li>
            </ul>
          </div>
        </div>
      </div>
    </footer>
  </body>
</html>
