<!DOCTYPE html>
<html>
  <head>
    <title>GiveLike</title>
    <meta name="viewport" content="width=device-width,initial-scale=1">
    <%= csrf_meta_tags %>
    <%= csp_meta_tag %>
    <%= stylesheet_pack_tag 'application', media: 'all', 'data-turbolinks-track': 'reload' %>
    <%= javascript_pack_tag 'application', 'data-turbolinks-track': 'reload' %>
  </head>

  <body>
    <% if end_user_signed_in? %>
      <%= link_to root_path, class: "nav-link btn-light border-right border-left" do%>
        <i class="fa-solid fa-user"></i> GiveLike
      <% end %>　||
      <%= link_to items_path, class: "nav-link btn-light border-right border-left" do%>
        <i class="fa-solid fa-user"></i> 楽天ランキング
      <% end %>　||
      <%= link_to reviews_ranking_path, class: "nav-link btn-light border-right border-left" do%>
        <i class="fa-solid fa-user"></i> レビューランキング
      <% end %>　||
      <%= link_to "アンケート", responses_path, class: "btn btn-light bg-gold px-5" %>

      <%= form_with url: items_search_path, method: :get, local: true do |f| %>
        <div class="form-group">
          <%= f.text_field :keyword, value: params[:keyword], class: "form-control" %>
          <%= f.submit '製品名を検索', class: "form-control btn btn-success" %>
        </div>
      <% end %>
      <li class="nav-item pl-3">
        <%= link_to end_user_path(current_end_user.screen_name), class: "nav-link btn-light border-right border-left" do%>
          <i class="fa-solid fa-user"></i> Mypage
        <% end %>
      </li>
      <li class="nav-item pl-3">
        <%= link_to destroy_end_user_session_path, method: :delete, class: "nav-link btn-light border-right border-left" do%>
          <i class="fas fa-sign-out-alt"></i> Log out
        <% end %>
      </li>

    <% elsif admin_signed_in? %>
      <%= link_to "新着レビュー", admin_path, class: "btn btn-light bg-gold px-5" %> ||
      <%= link_to "レビュー一覧", admin_reviews_path, class: "btn btn-light bg-gold px-5" %> ||
      <%= link_to "会員一覧", admin_end_users_path, class: "btn btn-light bg-gold px-5" %> ||
      <%= link_to "アンケート結果", admin_responses_path, class: "btn btn-light bg-gold px-5" %>
      <li class="nav-item pl-3">
        <%= link_to destroy_admin_session_path, method: :delete, class: "nav-link btn-light border-right border-left" do%>
          ログアウト
        <% end %>
      </li>

    <% else %>
      <%= link_to root_path, class: "nav-link btn-light border-right border-left" do%>
        <i class="fa-solid fa-user"></i> GiveLike
      <% end %>　||
      <%= link_to items_path, class: "nav-link btn-light border-right border-left" do%>
        <i class="fa-solid fa-user"></i> 楽天ランキング
      <% end %>　||
      <%= link_to reviews_ranking_path, class: "nav-link btn-light border-right border-left" do%>
        <i class="fa-solid fa-user"></i> レビューランキング
      <% end %>　||
      <%= link_to "アンケート", responses_path, class: "btn btn-light bg-gold px-5" %>

      <%= form_with url: items_search_path, method: :get, local: true do |f| %>
        <div class="form-group">
          <%= f.text_field :keyword, value: params[:keyword], class: "form-control" %>
          <%= f.submit '製品名を検索', class: "form-control btn btn-success" %>
        </div>
      <% end %>
    <li class="nav-item pl-3">
        <%= link_to new_end_user_registration_path, class: "nav-link btn-light border-right border-left" do %>
          <i class="fas fa-user-plus"></i> Sign up
        <% end %>
      </li>
      <li class="nav-item pl-3">
        <%= link_to new_end_user_session_path, class: "nav-link btn-light border-right border-left" do %>
          <i class="fa-solid fa-right-to-bracket"></i> Log in
        <% end %>
      </li>
    <% end %>


    <%= yield %>
  </body>
</html>
